/* Modified version of: https://github.com/sindresorhus/github-markdown-css */

/*! purgecss start ignore */

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-size: 20px;
  word-wrap: break-word;

  &::before {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
    content: "";
    display: table;
  }

  > {
    :first-child {
      margin-top: 0 !important;
    }

    :last-child {
      margin-bottom: 0 !important;
    }
  }

  * {
    box-sizing: border-box;
  }

  strong {
    font-weight: 600;
  }

  blockquote, dl, ol, p, pre, table, ul {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  /******************************
  Headers
  ******************************/
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 2em;
    margin: .67em 0;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: .875em;
  }

  h6 {
    font-size: .85em;
    color: #6a737d;
  }

  /******************************
  Tables
  ******************************/
  td, th {
    padding: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    overflow: auto;
    width: 100%;

    th {
      font-weight: 600;
    }

    td, th {
      border: 1px solid #dfe2e5;
      padding: 6px 13px;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;

      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
  }

  /******************************
  Lists
  ******************************/
  ol, ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 2em;

    ol {
      list-style-type: lower-roman;
    }

    ol, ul {
      margin-bottom: 0;
      margin-top: 0;
    }

    ol ol, ul ol {
      list-style-type: lower-alpha;
    }
  }

  li {
    word-wrap: normal;

    > p {
      margin-top: 16px;
    }

    + li {
      margin-top: .25em;
    }
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  dd {
    margin-left: 0;
  }

  dl {
    padding: 0;

    dt {
      font-size: 1em;
      font-style: italic;
      font-weight: 600;
      margin-top: 16px;
      padding: 0;
    }

    dd {
      margin-bottom: 16px;
      padding: 0 16px;
    }
  }

  /******************************
  Anchors
  ******************************/
  .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;

    &:focus {
      outline: none;
    }
  }

  h1:hover .anchor,
  h2:hover .anchor,
  h3:hover .anchor,
  h4:hover .anchor,
  h5:hover .anchor,
  h6:hover .anchor {
    text-decoration: none;
  }

  /******************************
  Octicon
  ******************************/
  .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
  }

  h1 .octicon-link,
  h2 .octicon-link,
  h3 .octicon-link,
  h4 .octicon-link,
  h5 .octicon-link,
  h6 .octicon-link,
  a.anchor .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
  }

  h1:hover .anchor .octicon-link,
  h2:hover .anchor .octicon-link,
  h3:hover .anchor .octicon-link,
  h4:hover .anchor .octicon-link,
  h5:hover .anchor .octicon-link,
  h6:hover .anchor .octicon-link,
  a:hover.anchor .octicon-link {
    visibility: visible;
  }

  /******************************
  Others
  ******************************/

  .pl-c {
    color: #6a737d;
  }

  .pl-c1, .pl-s {
    color: #005cc5;
  }

  .pl-e, .pl-en {
    color: #6f42c1;
  }

  .pl-s .pl-s1, .pl-smi {
    color: #24292e;
  }

  .pl-ent {
    color: #22863a;
  }

  .pl-k {
    color: #d73a49;
  }

  .pl-pds {
    color: #032f62;
  }

  .pl-s {
    color: #032f62;

    .pl-pse .pl-s1 {
      color: #032f62;
    }
  }

  .pl-sr {
    color: #032f62;

    .pl-cce, .pl-sra, .pl-sre {
      color: #032f62;
    }
  }

  .pl-smw, .pl-v {
    color: #e36209;
  }

  .pl-bu {
    color: #b31d28;
  }

  .pl-ii {
    background-color: #b31d28;
    color: #fafbfc;
  }

  .pl-c2 {
    background-color: #d73a49;
    color: #fafbfc;

    &::before {
      content: "^M";
    }
  }

  .pl-sr .pl-cce {
    color: #22863a;
    font-weight: 700;
  }

  .pl-ml {
    color: #735c0f;
  }

  .pl-mh {
    color: #005cc5;
    font-weight: 700;

    .pl-en {
      color: #005cc5;
      font-weight: 700;
    }
  }

  .pl-ms {
    color: #005cc5;
    font-weight: 700;
  }

  .pl-mi {
    color: #24292e;
    font-style: italic;
  }

  .pl-mb {
    color: #24292e;
    font-weight: 700;
  }

  .pl-md {
    background-color: #ffeef0;
    color: #b31d28;
  }

  .pl-mi1 {
    background-color: #f0fff4;
    color: #22863a;
  }

  .pl-mc {
    background-color: #ffebda;
    color: #e36209;
  }

  .pl-mi2 {
    background-color: #005cc5;
    color: #f6f8fa;
  }

  .pl-mdr {
    color: #6f42c1;
    font-weight: 700;
  }

  .pl-ba {
    color: #586069;
  }

  .pl-sg {
    color: #959da5;
  }

  .pl-corl {
    color: #032f62;
    text-decoration: underline;
  }

  details {
    display: block;
  }

  summary {
    display: list-item;
  }

  details summary {
    cursor: pointer;
  }

  a {
    background-color: transparent;

    &:active, &:hover {
      outline-width: 0;
    }
  }

  code, kbd, pre {
    font-family: monospace;
    font-size: 1em;
  }

  [type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
  }

  input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    overflow: visible;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  .border {
    border: 1px solid #e1e4e8 !important;
  }

  .border-0 {
    border: 0 !important;
  }

  .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
  }

  .rounded-1 {
    border-radius: 3px !important;
  }

  .bg-white {
    background-color: #fff !important;
  }

  .bg-gray-light {
    background-color: #fafbfc !important;
  }

  .text-gray-light {
    color: #6a737d !important;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .my-2 {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
  }

  .lh-condensed {
    line-height: 1.25 !important;
  }

  .text-bold {
    font-weight: 600 !important;
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  blockquote {
    border-left: .25em solid #30855A;
    color: #6a737d;
    padding: 0 1em;
    margin: 0;

    > {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    background-color: #fff;
    box-sizing: content-box;
    max-width: 100%;
    border-style: none;

    &[align='right'] {
      padding-left: 20px;
    }

    &[align='left'] {
      padding-right: 20px;
    }
  }

  code {
    font-family: monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
  }

  pre {
    font-family: monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier;
    margin-bottom: 0;
    margin-top: 0;
    word-wrap: normal;
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 75%;
    line-height: 1.5;
    overflow: auto;
    padding: 16px;

    code {
      background: transparent;
      border: 0;
      font-size: 100%;
      margin: 0;
      padding: 0;
      white-space: pre;
      word-break: normal;
      display: inline;
      line-height: inherit;
      overflow: visible;
      word-wrap: normal;
    }
  }

  .highlight {
    margin-bottom: 16px;

    pre {
      margin-bottom: 0;
      word-break: normal;
      background-color: #f6f8fa;
      border-radius: 3px;
      font-size: 75%;
      line-height: 1.5;
      overflow: auto;
      padding: 16px;
    }
  }

  .commit-tease-sha {
    color: #444d56;
    display: inline-block;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 90%;
  }

  .blob-wrapper {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
  }

  .blob-num {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: rgba(27, 31, 35, 0.3);
    cursor: pointer;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 20px;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;

    &:hover {
      color: rgba(27, 31, 35, 0.6);
    }

    &::before {
      content: attr(data-line-number);
    }
  }

  .blob-code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
  }

  .blob-code-inner {
    color: #24292e;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
  }

  .pl-token {
    &.active, &:hover {
      background: #ffea7f;
      cursor: pointer;
    }
  }

  :checked + .radio-label {
    border-color: #0366d6;
    position: relative;
    z-index: 1;
  }

  .tab-size {
    &[data-tab-size="1"] {
      -moz-tab-size: 1;
      tab-size: 1;
    }

    &[data-tab-size="2"] {
      -moz-tab-size: 2;
      tab-size: 2;
    }

    &[data-tab-size="3"] {
      -moz-tab-size: 3;
      tab-size: 3;
    }

    &[data-tab-size="4"] {
      -moz-tab-size: 4;
      tab-size: 4;
    }

    &[data-tab-size="5"] {
      -moz-tab-size: 5;
      tab-size: 5;
    }

    &[data-tab-size="6"] {
      -moz-tab-size: 6;
      tab-size: 6;
    }

    &[data-tab-size="7"] {
      -moz-tab-size: 7;
      tab-size: 7;
    }

    &[data-tab-size="8"] {
      -moz-tab-size: 8;
      tab-size: 8;
    }

    &[data-tab-size="9"] {
      -moz-tab-size: 9;
      tab-size: 9;
    }

    &[data-tab-size="10"] {
      -moz-tab-size: 10;
      tab-size: 10;
    }

    &[data-tab-size="11"] {
      -moz-tab-size: 11;
      tab-size: 11;
    }

    &[data-tab-size="12"] {
      -moz-tab-size: 12;
      tab-size: 12;
    }
  }

  .task-list-item {
    list-style-type: none;

    + .task-list-item {
      margin-top: 3px;
    }

    input {
      margin: 0 .2em .25em -1.6em;
      vertical-align: middle;
    }
  }

  hr {
    box-sizing: content-box;
    border-bottom: 1px solid #dfe2e5;
    overflow: hidden;
    background-color: #A0AEC0;
    height: 1px;
    margin: 24px 0;
    padding: 0;
    border-bottom-color: #eee;

    &::before {
      content: "";
      display: table;
    }

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  /******************************
  Keystrokes (kbd)
  ******************************/
  kbd {
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    background-color: #fafbfc;
    border-radius: 3px;
    color: #444d56;
    display: inline-block;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
    border: 1px solid #d1d5da;
    border-bottom-color: #c6cbd1;
    box-shadow: inset 0 -1px 0 #c6cbd1;
  }

  /******************************
  Padding
  ******************************/

  .pl-0 {
    padding-left: 0 !important;
  }

  .py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .pl-1 {
    padding-left: 4px !important;
  }

  .pl-2 {
    padding-left: 8px !important;
  }

  .py-2 {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
  }

  .pl-3 {
    padding-left: 16px !important;
  }

  .px-3 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .pl-4 {
    padding-left: 24px !important;
  }

  .pl-5 {
    padding-left: 32px !important;
  }

  .pl-6 {
    padding-left: 40px !important;
  }

  .f6 {
    font-size: 12px !important;
  }

  .pl-7 {
    padding-left: 48px !important;
  }

  .pl-8 {
    padding-left: 64px !important;
  }

  .pl-9 {
    padding-left: 80px !important;
  }

  .pl-10 {
    padding-left: 96px !important;
  }

  .pl-11 {
    padding-left: 112px !important;
  }

  .pl-12 {
    padding-left: 128px !important;
  }
}

/*! purgecss end ignore */
